#
menuconfig RT539X
	tristate "Ralink RT539X/559X Wi-Fi driver"

if RT539X

config RT539X_AP_24G
	tristate "Wi-Fi Ralink RT539X driver for 2.4 GHz AP"

config RT539X_AP_5G
	tristate "Wi-Fi Ralink RT539X driver for 5 GHz AP"

config RT539X_CHIPSET_5390
	bool "Has chipset 5390"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_24G_CHIPSET_5390
	bool "Has chipset 5390 for 2.4 GHz AP"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_CHIPSET_3593
	bool "Has chipset 3593"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_5G_CHIPSET_3593
	bool "Has chipset 3593 for 5 GHz AP"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_CHIPSET_5592
	bool "Has chipset 5592"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_AP_MBSS
	bool "RT539X_AP_MBSS"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_24G_AP_MBSS
	bool "RT539X_AP_MBSS for 2.4 GHz AP"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_AP_MBSS_NEW
	bool "RT539X_AP_MBSS_NEW"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_24G_AP_MBSS_NEW
	bool "RT539X_AP_MBSS_NEW for 2.4 GHz AP"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_ANDROID_SUPPORT
	bool "RT539X_HAS_ANDROID_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_ANTENNA_DIVERSITY_SUPPORT
	bool "RT539X_HAS_ANTENNA_DIVERSITY_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_APCLI
	bool "RT539X_HAS_APCLI"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_APCLI_WPA_SUPPLICANT
	bool "RT539X_HAS_APCLI_WPA_SUPPLICANT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_ATE
	bool "RT539X_HAS_ATE"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_AUTO_CH_SELECT_ENHANCE
	bool "RT539X_HAS_AUTO_CH_SELECT_ENHANCE"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_BGFP_OPEN_SUPPORT
	bool "RT539X_HAS_BGFP_OPEN_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_BGFP_SUPPORT
	bool "RT539X_HAS_BGFP_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_BLOCK_NET_IF
	bool "RT539X_HAS_BLOCK_NET_IF"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_CFG80211_SUPPORT
	bool "RT539X_HAS_CFG80211_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_CLIENT_WDS_SUPPORT
	bool "RT539X_HAS_CLIENT_WDS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_CS_SUPPORT
	bool "RT539X_HAS_CS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_DFS_SUPPORT
	bool "RT539X_HAS_DFS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_DOT11N_DRAFT3_SUPPORT
	bool "RT539X_HAS_DOT11N_DRAFT3_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_DOT11_N_SUPPORT
	bool "RT539X_HAS_DOT11_N_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_ETH_CONVERT_SUPPORT
	bool "RT539X_HAS_ETH_CONVERT_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_EXT_BUILD_CHANNEL_LIST
	bool "RT539X_HAS_EXT_BUILD_CHANNEL_LIST"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_FIXUP_MAC
	bool "RT539X_HAS_FIXUP_MAC"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_FOR_NDMS_V1
	bool "RT539X_HAS_FOR_NDMS_V1"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_GREENAP_SUPPORT
	bool "RT539X_HAS_GREENAP_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_HOSTAPD_SUPPORT
	bool "RT539X_HAS_HOSTAPD_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_IDS_SUPPORT
	bool "RT539X_HAS_IDS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_IFUP_IN_PROBE_SUPPORT
	bool "RT539X_HAS_IFUP_IN_PROBE_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_IGMP_SNOOP_SUPPORT
	bool "RT539X_HAS_IGMP_SNOOP_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_KTHREAD_SUPPORT
	bool "RT539X_HAS_KTHREAD_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_LED_CONTROL_SUPPORT
	bool "RT539X_HAS_LED_CONTROL_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_LLTD
	bool "RT539X_HAS_LLTD"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_MCAST_RATE_SPECIFIC_SUPPORT
	bool "RT539X_HAS_MCAST_RATE_SPECIFIC_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_MC_SUPPORT
	bool "RT539X_HAS_MC_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_MICROWAVE_OVEN_SUPPORT
	bool "RT539X_HAS_MICROWAVE_OVEN_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_MSI_SUPPORT
	bool "RT539X_HAS_MSI_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_NEW_RATE_ADAPT_SUPPORT
	bool "RT539X_HAS_NEW_RATE_ADAPT_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_NEW_TXCONT
	bool "RT539X_HAS_NEW_TXCONT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_OSABL_FUNC_SUPPORT
	bool "RT539X_HAS_OSABL_FUNC_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_OSABL_OS_AP_SUPPORT
	bool "RT539X_HAS_OSABL_OS_AP_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_OSABL_OS_PCI_SUPPORT
	bool "RT539X_HAS_OSABL_OS_PCI_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_OSABL_OS_RBUS_SUPPORT
	bool "RT539X_HAS_OSABL_OS_RBUS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_OSABL_OS_STA_SUPPORT
	bool "RT539X_HAS_OSABL_OS_STA_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_OSABL_OS_USB_SUPPORT
	bool "RT539X_HAS_OSABL_OS_USB_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_QA_SUPPORT
	bool "RT539X_HAS_QA_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_QOS_DLS_SUPPORT
	bool "RT539X_HAS_QOS_DLS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_RA_HW_NAT
	bool "RT539X_HAS_RA_HW_NAT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_RESOURCE_PRE_ALLOC
	bool "RT539X_HAS_RESOURCE_PRE_ALLOC"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_RFKILL_HW_SUPPORT
	bool "RT539X_HAS_RFKILL_HW_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_RSSI_FEEDBACK
	bool "RT539X_HAS_RSSI_FEEDBACK"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_RT2880_RT2860_COEXIST
	bool "RT539X_HAS_RT2880_RT2860_COEXIST"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_RTMP_FLASH_SUPPORT
	bool "RT539X_HAS_RTMP_FLASH_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_SINGLE_SKU_SUPPORT
	bool "RT539X_HAS_SINGLE_SKU_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_SNMP_SUPPORT
	bool "RT539X_HAS_SNMP_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_STATS_COUNT
	bool "RT539X_HAS_STATS_COUNT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_STREAM_MODE_SUPPORT
	bool "RT539X_HAS_STREAM_MODE_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_5G_HAS_STREAM_MODE_SUPPORT
	bool "RT539X_HAS_STREAM_MODE_SUPPORT for 5 GHz AP"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_TSO_SUPPORT
	bool "RT539X_HAS_TSO_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_TSSI_ANTENNA_VARIATION
	bool "RT539X_HAS_TSSI_ANTENNA_VARIATION"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_TXBF_SUPPORT
	bool "RT539X_HAS_TXBF_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_TXRX_SW_ANTDIV_SUPPORT
	bool "RT539X_HAS_TXRX_SW_ANTDIV_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_USB_BULK_BUF_ALIGMENT
	bool "RT539X_HAS_USB_BULK_BUF_ALIGMENT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_USB_FIRMWARE_MULTIBYTE_WRITE
	bool "RT539X_HAS_USB_FIRMWARE_MULTIBYTE_WRITE"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_USB_SUPPORT_SELECTIVE_SUSPEND
	bool "RT539X_HAS_USB_SUPPORT_SELECTIVE_SUSPEND"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WAPI_SUPPORT
	bool "RT539X_HAS_WAPI_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WDS
	bool "RT539X_HAS_WDS"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WMM_ACM_SUPPORT
	bool "RT539X_HAS_WMM_ACM_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WOW_IFDOWN_SUPPORT
	bool "RT539X_HAS_WOW_IFDOWN_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WOW_SUPPORT
	bool "RT539X_HAS_WOW_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WSC
	bool "RT539X_HAS_WSC"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WSC_LED
	bool "RT539X_HAS_WSC_LED"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_WSC_V2
	bool "RT539X_HAS_WSC_V2"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_HAS_XLINK
	bool "RT539X_HAS_XLINK"
	depends on RT539X_AP_5G || RT539X_AP_24G

config RT539X_MBSS_SUPPORT
	bool "RT539X_MBSS_SUPPORT"
	depends on RT539X_AP_5G || RT539X_AP_24G

endif
